<ul class="flex-container" id="special">
	<li>				
		<a href="https://www.meetup.com/turkishtech">
			<i class="fab fa-meetup" id="special"> Our Meetup Group - etki Turkish Tech Berlin </i>
		</a>
	</li>
	<li>				
		<a href="https://www.meetup.com/turkishtech">
			<i class="fab fa-meetup" id="special"> Our Meetup Group - etki Turkish Tech Berlin </i>
		</a>
	</li>
	<li>				
		<a href="https://www.twitter.com/turkishtechcollab">
			<i class="fab fa-twitter" id="special"> Twitter - #turkishtechcollab </i>
		</a>
	</li>
	<li>				
		<a href="https://www.meetup.com/turkishtech">
			<i class="fab fa-meetup" id="special"> Our Meetup Group - etki Turkish Tech Berlin </i>
		</a>
	</li>
</ul>